body
{
	margin: 0px;
	overflow: hidden;
	background-color: black;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* height: 100vh; */
}

canvas
{
	border: 1px solid black;
}