/** assetcomp-0 Resmin bulunduðu id **/
body
{
	background-color: #B0E0E6;
	/**
	#000000
	#808080
	#C0C0C0
	#FBCEB1
	#FAF0E6
	#FFF0F5
	#BDBBD7
	**/
}

#Sierra
{
	color: #FFC0CB;
}

#McCormick
{
	color: #0000FF;
/*	color: #2A52BE;
	color: #1E90FF;	*/
}

#S
{
	color: #FF0000;
}

#I
{
	color: #FF7F00;
}

#E
{
	color: #FFFF00;
}

#R
{
	color: #00FF00;
}

#Rr
{
	color: #0000FF;
}

#A
{
	color: #4B0082;
}

#M
{
	color: #8F00FF;
}