body {
	background-color: rgb(92, 133, 160);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
	font-family: 'Times New Roman', Times, serif;
	color: rgb(92, 133, 160);
	font-size: 20px;
}

div{
	width: 150px;
	height: 600px;
	background-color: rgb(32, 32, 32);
}